<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>
	<typeAliases>  
        <typeAlias alias="user" type="com.bang.bean.User"/>
    </typeAliases>
    <plugins>
		<plugin interceptor="com.bang.util.PaginationInterceptor" >
  			<property name="test" value="test1"/>
  		</plugin>
  	</plugins>
	<environments default="dep">
		<environment id="dep">
			<transactionManager type="jdbc">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/bang" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/bang/bean/SqlHelper.xml" />
		<mapper resource="com/bang/bean/user.xml" />
	</mappers>
</configuration>  
